@import '../../../App.scss';

.wizard-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .step-1 {
        height: 40px;
    }
    .dot-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 800px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        .label {
            margin-top: 40px;
            margin-bottom: 15px;
        }
        .input {
            border: 2px solid $dark-green;
            width: 500px;
            height: 25px;
        }
        .desc-input {
            height: 70px;
            border: 2px solid $dark-green; 
            width: 500px;
        }
        .next-step {
            @extend %dark-green-button;
            margin-top: 30px;
            margin-bottom: 10px;
            width: 125px;
            height: 30px;
            font-size: 14px;
            cursor: pointer;
        }
    }
}
